body{
    background-color: #f2f2f2;
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eaeaea;
}
div{
    padding: 20px 40px;
    align-items: center;
    color: #ffffff;
}

h1{
    color: #212121;
    font-family: Arial, sans-serif;
    font-size: 40px;
}

p{
    color: #333333;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}