body{
    background-color: #f2f2f2;
    margin: 0px;
}

#contenedor_prin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#tarjeta{
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1{
    color: #212121;
    font-family: Arial, sans-serif;
    font-size: 36px;
    margin: 0 0 0px;
    text-align: center;
}

p{
    color: #333333;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
}